{% extends "BackofficeBaseBundle::Layout/AdminLayout.html.twig" %}

{% block navActive %}overview{% endblock %}

{% block contentHeader %}
<h1>
  Vue d'ensemble
  <small>retrouvez ici les dernieres activité du site</small>
</h1>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="ion ion-ios-home-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Etablissement</span>
        <span class="info-box-number">{{ etablissement.nbE }}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Membres</span>
        <span class="info-box-number">{{ evenement.nbEv }}</span>
      </div>
    </div>
  </div>

  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="ion ion-ios-book-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Niveau</span>
        <span class="info-box-number">{{ niveau.nbN }}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="ion ion-ios-briefcase-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Type d'evenement</span>
        <span class="info-box-number">{{ typeEvenement.nbT }}</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% endblock %}
