{% extends "BackofficeBaseBundle::Layout/AdminLayout.html.twig" %}

{% block navActive %}overview{% endblock %}

{% block contentHeader %}
<h1>
  Vue d'ensemble
  <small>retrouvez ici les dernieres activité du site</small>
</h1>
{% endblock %}

{% block content %}

{% endblock %}
