// -------------- COLOR -----------------

$blue_dark : #4BB5C1;
$bleu_light : #7FC6BC;
$beige :#EDF7F2;
$greent_dark : #96CA2D;
$green_light: #B5E655;

// -------------- SIZE -----------------

// -------------- FONTS -----------------
