// ------- VARIABLES ---------
$bleu_light: #64b5f6;
$grey_light: #eeeeee;

.brand-logo {
    img {
        vertical-align: text-bottom;
    }
}

.action_agenda {
    margin: 50px 0;
    background-color: $grey_light;
    padding: 20px 10px;
}

.agenda {
    .icon_cancel {
        color: #f44336;
    }

    .icon_edit {
        color: #ff9800;
    }

    .logo_enfants {
        text-align: center;
        margin-bottom: 20px;

        img {
            max-width: 250px;
        }
    }

    .legende_agenda {
        margin-bottom: 20px;
        border: 1px #9e9e9e solid;
        padding: 30px 10px 10px;

        i {
            vertical-align: bottom;
            margin-right: 10px;
        }
    }

    table {
        margin-bottom: 50px;
        border: 1px #9e9e9e solid;

        .annule {
            background-color: rgba(244, 67, 54, 0.3)!important;
        }

        i {
            vertical-align: bottom;
        }

        .icon {
            color: black;
        }
    }
}
