.brand-logo img {
  vertical-align: text-bottom;
}

.action_agenda {
  margin: 50px 0;
  padding: 20px 10px;
  background-color: #eee;
}

.agenda .icon_cancel {
  color: #f44336;
}

.agenda .icon_check_circle {
  color: #3c3;
}

.agenda .icon_report_problem {
  color: #cc0;
}

.agenda .icon_edit {
  color: #ff9800;
}

.agenda .logo_enfants {
  margin-bottom: 20px;
  text-align: center;
}

.agenda .logo_enfants img {
  max-width: 250px;
}

.agenda .legende_agenda {
  margin-bottom: 20px;
  padding: 30px 10px 10px;
  border: 1px #9e9e9e solid;
}

.agenda .legende_agenda i {
  margin-right: 10px;
  vertical-align: bottom;
}

.agenda table {
  margin-bottom: 50px;
  border: 1px #9e9e9e solid;
}

.agenda table .annule {
  background-color: rgba(244, 67, 54, .3) !important;
}

.agenda table i {
  vertical-align: bottom;
}

.agenda table .icon {
  color: black;
}
