.action_agenda {
  margin: 50px 0;
  padding: 20px 10px;
  background-color: #eee;
}

.agenda .icon_cancel {
  color: #f44336;
}

.agenda .icon_edit {
  color: #ff9800;
}

.agenda .legende_agenda {
  margin-bottom: 50px;
  padding: 30px 10px 10px;
  border: 1px #9e9e9e solid;
}

.agenda .legende_agenda i {
  margin-right: 10px;
  vertical-align: bottom;
}

.agenda table {
  margin-bottom: 50px;
  border: 1px #9e9e9e solid;
}

.agenda table i {
  vertical-align: bottom;
}

.agenda table .icon {
  color: black;
}
